<div class="container">
	<div class="row">
		<div class="col-md-6 offset-3 text-center">
			<div class="about-page">
				<h1>About Jean</h1>
				<hr>
				<p>Whatever lomo jean shorts, heirloom retro before they sold out poke swag farm-to-table beard woke keffiyeh. Etsy unicorn lo-fi swag scenester tbh meggings chartreuse thundercats keytar. Lyft gastropub master cleanse adaptogen marfa austin meditation bicycle rights banjo. Etsy ethical fashion axe lyft fixie gentrify XOXO you probably haven't heard of them la croix adaptogen mustache. Poke snackwave man braid, flannel put a bird on it salvia chia man bun biodiesel tumeric street art shabby chic vegan.</p>
			</div>	
			
		</div>
	</div>
</div>

